.gl-index-layout{ @options }
  = render ::Layouts::PageHeadingComponent.new(@heading, options: { class: class_names('gl-sr-only': @page_heading_sr_only) }) do |c|
    - c.with_heading do
      = heading || @heading
    - if actions?
      - c.with_actions do
        = actions
    - if description? || @description
      - c.with_description do
        = description || @description

  - if alerts?
    .gl-index-layout-alerts.js-index-layout-alerts{ data: { testid: 'index-layout-alerts' } }
      = alerts

  %div{ data: { testid: 'index-layout-content' } }
    - if @loading
      = render ::Pajamas::SpinnerComponent.new(size: :lg, class: 'gl-index-layout-loading-icon',  data: { testid: 'index-layout-loading-icon' } )
    - else
      = content
